<div id="ubytovani" class="container-fluid bg-secondary py-5 text-white">
    <div id="accommodation-container" class="container-lg">
        <h2 class="display-1 fw-bolder mb-4">O ubytování</h2>

        <p class="mb-0">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce nibh. Morbi scelerisque luctus velit.
            Phasellus et lorem id felis nonummy placerat. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus
            quam ultricies odio, vitae placerat pede sem sit amet enim. Integer tempor. Fusce dui leo, imperdiet in,
            aliquam sit amet, feugiat eu, orci. Aenean vel massa quis mauris vehicula lacinia. In rutrum. Curabitur
            sagittis hendrerit ante. Suspendisse sagittis ultrices augue. Duis viverra diam non justo. Nam libero
            tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
            possimus, omnis voluptas assumenda est, omnis dolor repellendus. Nulla pulvinar eleifend sem. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum fermentum
            tortor id mi.
        </p>
    </div>
</div>
