<div id="ubytovani" class="container-fluid bg-secondary py-5 text-white">
    <div id="accommodation-container" class="container-lg">
        <h2 class="display-1 fw-bolder mb-4">O ubytování</h2>

        <p>
            Penzion Mikeš se nachází na hlavní ulici v Peci pod Sněžkou, má lyžařskou školu, recepci otevřenou 24
            hodin denně a za poplatek poskytuje Wi-Fi.
        </p>

        <p>
            Všechny pokoje jsou vybaveny TV a mají společné sociální zařízení. K dispozici je také společná kuchyň,
            která je vybavena mikrovlnnou troubou, myčkou, chladničkou, sporákem a nádobím.
        </p>

        <p>
            Za poplatek si hosté mohou objednat snídani. Další stravování je možné v restauraci U Javoru, 100 metrů od
            penzionu. Penzion je dále vzdálen 400 metrů od obchodu s potravinami a nakupovat mohou hosté také v
            Trutnově, kam je to 20 km.
        </p>

        <p>
            Penzion stojí 100 metrů od lyžařského areálu Javor a 1 km od lanovky na Sněžku. Pokud si hosté budou chtít
            zaplavat, krytý bazén najdou také v Trutnově.
        </p>

        <p>
            Autobusová zastávka v Peci pod Sněžkou se nachází 500 metrů od penzionu a vlakové nádraží ve Svobodě nad
            Úpou je 10 km daleko. Parkovat lze na místě za poplatek.
        </p>

        <p class="mb-0">
            Podle nestranných hodnocení napsaných hosty patří tato oblast mezi oblíbené části destinace Pec pod Sněžkou.
        </p>
    </div>
</div>
