<div id="kontakt" class="container-fluid bg-cyan py-5 text-white">
    <div id="contact-container" class="container-lg">
        <div class="row">
            <div class="col-lg-7 col-xl-6">
                <h2 class="display-1 fw-bolder mb-4">Rezervace</h2>

                {% component "contactform" %}
            </div>

            <div class="col-lg-5 col-xl-4 offset-xl-2 mt-5 mt-lg-0">
                <p class="mb-4">
                    <span class="fw-bolder">Penzion Mikeš</span><br>
                    Pec pod Sněžkou 241, <br>
                    Pec pod Sněžkou, 542 21 <br>
                    Česká republika
                </p>

                <p class="mb-5">
                    <i class="bi bi-telephone me-2 text-teal"></i>
                    <a href="tel:+420 777 123 456" class="link-white text-decoration-none hover-yellow">
                        +420 777 123 456
                    </a>

                    <br>

                    <i class="bi bi-envelope me-2 text-teal"></i>
                    <a href="mailto:rezervace@penzionmikes.cz" class="link-white text-decoration-none hover-yellow">
                        rezervace@penzionmikes.cz
                    </a>
                </p>

                <div class="ratio ratio-4x3">
                    <iframe style="border:none" src="https://en.frame.mapy.cz/s/hesumovube" width="400" height="280" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
