<footer class="container-fluid bg-primary py-4 text-white">
    <div class="container-lg">
        <div class="row row-cols-1 row-cols-md-3 g-0">
            <div class="col">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="{{ 'ubytovaci-rad'|page }}" class="nav-link fs-15 link-white hover-cyan fw-normal p-1 text-center text-md-start p-lg-0">
                            Ubytovací řád
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ 'dodatecne-sluzby'|page }}" class="nav-link fs-15 link-white hover-cyan fw-normal p-1 text-center text-md-start p-lg-0">
                            Ceník dodatečných služeb
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ 'gdpr'|page }}" class="nav-link fs-15 link-white hover-cyan fw-normal p-1 text-center text-md-start p-lg-0">
                            GDPR
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-8 mt-4 d-flex align-items-center col-md justify-content-md-center align-items-md-end">
                &copy; {{ "now"|date("Y") }} Penzion Mikeš
            </div>

            <div class="col-4 mt-4 d-flex justify-content-end col-md align-items-md-end">
                <a href="https://www.hucr.cz" target="_blank" class="signature">
                    <span class="bg-teal"></span>
                </a>
            </div>
        </div>
    </div>
</footer>
