<div id="cenik" class="container-fluid py-5">
    <div id="prices-container" class="container-lg">
        <h2 class="display-1 fw-bolder mb-4 text-secondary">Pokoje a ceny</h2>

        <div class="room">
            <div class="row g-2">
                <div class="col-12 col-md-6 col-xl-8">
                    <p class="display-2 text-tertiary lh-29">
                        Dvoulůžkový pokoj <br class="d-lg-none">
                        s manželskou postelí
                    </p>

                    <div class="card">
                        <div class="card-body">
                            <div class="row row-cols-1 row-cols-xl-2">
                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> Velikost 11m<sup>2</sup>
                                </div>

                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> TV & Rádio
                                </div>

                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> 1 velká manželská postel
                                </div>

                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> 1 Společné sociální zařízení
                                </div>

                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> Výhled na hory
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-md-3 col-xl-2 mt-4 mt-md-2">
                    <p class="display-2 text-tertiary lh-29 fw-normal">
                        <span class="d-none d-md-block d-lg-none invisible">Kapacita</span>

                        Kapacita
                    </p>

                    <div class="card bg-tertiary">
                        <div class="card-body">
                            <p class="mb-0 text-center">
                                <i class="bi bi-person-fill h4"></i><i class="bi bi-person-fill h4"></i><br>

                                2 osoby
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-md-3 col-xl-2 mt-4 mt-md-2">
                    <p class="display-2 text-tertiary lh-29 fw-normal">
                        <span class="d-none d-md-block d-lg-none invisible">Cena</span>

                        Cena
                    </p>

                    <div class="card bg-tertiary">
                        <div class="card-body">
                            <p class="mb-0 text-center">
                                2000 Kč <br>
                                / 1 noc
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="room mt-5">
            <div class="row g-2">
                <div class="col-12 col-md-6 col-xl-8">
                    <p class="display-2 text-tertiary lh-29">
                        Čtyřlůžkový pokoj
                    </p>

                    <div class="card">
                        <div class="card-body">
                            <div class="row row-cols-1 row-cols-xl-2">
                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> Velikost 24m<sup>2</sup>
                                </div>

                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> Výhled na hory
                                </div>

                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> 2 jednolůžkové postele
                                </div>

                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> TV & Rádio
                                </div>

                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> 1 velká manželská postel
                                </div>

                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> Společné sociální zařízení
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-md-3 col-xl-2 mt-4 mt-md-2">
                    <p class="display-2 text-tertiary lh-29 fw-normal">
                        Kapacita
                    </p>

                    <div class="card bg-tertiary">
                        <div class="card-body">
                            <p class="mb-0 text-center">
                                <i class="bi bi-person-fill h4"></i><i class="bi bi-person-fill h4"></i><i class="bi bi-person-fill h4"></i><i class="bi bi-person-fill h4"></i><br>

                                4 osoby
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-md-3 col-xl-2 mt-4 mt-md-2">
                    <p class="display-2 text-tertiary lh-29 fw-normal">
                        Cena
                    </p>

                    <div class="card bg-tertiary">
                        <div class="card-body">
                            <p class="mb-0 text-center">
                                4000 Kč <br>
                                / 1 noc
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="room mt-5">
            <div class="row g-2">
                <div class="col-12 col-md-6 col-xl-8">
                    <p class="display-2 text-tertiary lh-29">
                        Celý apartmán <br class="d-md-none">
                        se 3 ložnicemi
                    </p>

                    <div class="card">
                        <div class="card-body">
                            <div class="row row-cols-1 row-cols-xl-2">
                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> Velikost 75m<sup>2</sup>
                                </div>

                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> Samostatná kuchyňka
                                </div>

                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> 2 ložnice pro 4 osoby
                                </div>

                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> Výhled na hory
                                </div>

                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> 1 ložnice pro 2 osoby
                                </div>

                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> TV & Rádio
                                </div>

                                <div class="col">
                                    <i class="bi bi-asterisk me-1"></i> 2 koupelny
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-md-3 col-xl-2 mt-4 mt-md-2">
                    <p class="display-2 text-tertiary lh-29 fw-normal">
                        Kapacita
                    </p>

                    <div class="card bg-tertiary">
                        <div class="card-body">
                            <p class="mb-0 text-center">
                                <i class="bi bi-person-fill h4"></i>x10<br>

                                10 osob
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-6 col-sm-4 col-md-3 col-xl-2 mt-4 mt-md-2">
                    <p class="display-2 text-tertiary lh-29 fw-normal">
                        Cena
                    </p>

                    <div class="card bg-tertiary">
                        <div class="card-body">
                            <p class="mb-0 text-center">
                                8000 Kč <br>
                                / 1 noc
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class="row">
                    <div class="col-7 col-sm-4 d-flex align-items-center col-lg-3 col-xxl-2">
                        <img src="{{ 'assets/images/no-pets.svg'|theme }}" alt="no pets" class="img-fluid">
                        <img src="{{ 'assets/images/no-smoking.svg'|theme }}" alt="no smoking" class="img-fluid ms-4">
                    </div>

                    <div class="col-12 mt-3 col-sm-8 mt-sm-0 d-md-flex align-items-center col-xl-6">
                        <p class="mb-0">
                            Vezměte prosím na vědomí, že všechny pokoje jsou <span class="fw-bold">nekuřácké</span>
                            <br class="d-none d-xl-block"> a platí zde také <span class="fw-bold">zákaz zvířat</span>.
                        </p>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class="d-grid d-sm-block gap-3 gap-sm-0">
                    <a href="{{ 'dodatecne-sluzby'|page }}" class="btn btn-outline-tertiary">
                        Dodatečné služby
                    </a>

                    <a href="{{ 'ubytovaci-rad'|page }}" class="btn btn-outline-tertiary ms-sm-4">
                        Ubytovací řád
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
