<div id="banner" class="container-fluid px-0 position-relative">
    <picture>
        <source srcset="{{ "assets/images/banner-sm.jpg"|theme }}" media="(max-width: 599px)">

        <img src="{{ "assets/images/banner.jpg"|theme }}" alt="banner" class="img-fluid w-100">
    </picture>

    <div id="banner-container" class="container-lg position-absolute w-100 h-100 top-0 start-50 translate-middle-x d-flex align-items-center">
        <div class="position-absolute d-inline-block">
            <p class="fw-bolder text-white text-center display-1 claim mb-4">
                Příjemné ubytování <br>
                v Peci pod Sněžkou
            </p>

            <p class="mb-0 d-flex justify-content-center">
                <span class="d-grid gap-3">
                    <a href="" class="btn btn-secondary">
                        Pokoje a ceny
                    </a>

                    <a href="" class="btn btn-danger">
                        Rezervace
                    </a>
                </span>
            </p>
        </div>
    </div>
</div>
