<div id="services" class="container-fluid pt-4 pb-5">
    <div id="services-container" class="container-lg">
        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5">
            <div class="col service text-center">
                <i class="icon-ski-lift text-secondary"></i>

                <span class="d-block text-tertiary fw-bold">
                    100 m <br>
                    od sjezdovky
                </span>
            </div>

            <div class="col service text-center">
                <i class="icon-parking text-secondary"></i>

                <span class="d-block text-tertiary fw-bold">
                    Parkování <br>
                    u penzionu
                </span>
            </div>

            <div class="col service text-center mt-3 mt-sm-0">
                <i class="icon-breakfast text-secondary"></i>

                <span class="d-block text-tertiary fw-bold">
                    Možnost <br>
                    snídaně
                </span>
            </div>

            <div class="col service text-center mt-3 offset-sm-2 offset-md-0 mt-md-0">
                <i class="icon-restaurant text-secondary"></i>

                <span class="d-block text-tertiary fw-bold">
                    100 m <br>
                    od restaurace
                </span>
            </div>

            <div class="col service text-center mt-3 offset-3 offset-sm-0 mt-md-0">
                <i class="icon-wifi text-secondary"></i>

                <span class="d-block text-tertiary fw-bold">
                    Satelitní TV <br>
                    a wi-fi
                </span>
            </div>
        </div>
    </div>
</div>
